<div class="col-4 mb-5 mt-5 align-self-start">
  <div class="card" style="width: 25rem;">
    <img src={{image}}
      class="card-img-top" alt={{name}}>
    <div class="card-body">
      <h5 class="card-title fs-1">{{name}}</h5>
      <p class="card-text fs-4">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item fs-5">Ability: {{ability}}</li>
      <li class="list-group-item fs-5">Original Game: {{game}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link delete-from-favorites text-danger" pokemon-name={{name}}>Delete from favorites</a>
    </div>
  </div>
</div>