  <div class="randompokemon-card">
    <img src="{{pokemon.random.photo}}" alt="Random pokoemon card info" width="auto" height="auto">
    <h3>{{pokemon.name}}</h3>
      <ul>
        <li>{{maininfo.pokemon}}</li>
        <li>{{description.pokemon}}</li>
        <li>{{game.pokemon}}</li>
        {{!-- <li>{{evolution.pokemon}}<a>{{evo1.pokemon}}evolution 1</a></li> ADD pokemon evolutions? --}}
      </ul>
  </div>