<div class="col-4 mb-4 mt-5  align-self-start">
  <div class="card" style="border-radius: 5%">
    <img src={{image}} class="card-img-top" alt={{name}}>
    <div class="card-body">
      <h5 class="card-title" style="font-family: 'Indie Flower'; font-size: 25px">{{name}}</h5>
      <p class="card-text" style="font-family:'Montserrat'">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="font-family:'Montserrat'">Ability: {{ability}}</li>
      <li class="list-group-item" style="font-family:'Montserrat'">Original Game: {{game}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link add-to-favorites" style="font-family:'Montserrat'" pokemon-name={{name}}>Add to
        favorites</a>
    </div>
  </div>
</div>