<div class="col-4 mb-5 mt-5  align-self-start">
  <div class="card" style="width: 25rem;">
    <img src={{image}}
      class="card-img-top" alt={{name}}>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ability: {{ability}}</li>
      <li class="list-group-item">Original Game: {{game}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link add-to-favorites" pokemon-name={{name}}>Add to favorites</a>
    </div>
  </div>
</div>