<section class="favorite-Pokemon">
  <img src="{{pokemon.photo}}" alt="{{pokemon.name}}">

  {{#each favoritePokemon as |pokemon| }}
  <div>
    <h2>{{pokemon.name}}</h2>

    <img id="pokemon-image" src={{pokemon.image}} alt={{pokemon.name}}>

    <h3>Decription: {{pokemon.description}}</h3>
    <h3>Abilities: {{pokemon.ability}}</h3>
    <h3>Original Game: {{pokemon.game}}</h3>

  </div>
  {{/each}}
  {{!-- <div class="myPokemon">
    <h1>{{myFavoritePokemon.title}}</h1>
    <div class="row">
      <div class="column">
        <div class="pokemon-card1">..</div>
        <ul>
          <li>{{description.pokemon}}</li>
          <li>{{abilities.pokemon}}</li>
          <li>{{evolution.pokemon}}</li>
        </ul>
      </div>
      <div class="column">
        <div class="pokemon-card2">..</div>
      </div>
      <div class="column">
        <div class="pokemon-card3">..</div>
      </div>
      <div class="column">
        <div class="pokemon-card4">..</div>
      </div>
    </div>

  </div> --}}
</section>