<section class="favorite-Pokemon">
  {{#if favoritePokemon.length}}

  {{#each favoritePokemon as |pokemon| }}
  <div class="columns">
    <div class="column is-two-fifth">
    <div class="card has-background-link-dark">
  <div class="card-image is-small">
    <img id="pokemon-image" src={{pokemon.image}} alt={{pokemon.name}}>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        </figure>
      </div>
      <div class="media-content">
            <h2>{{pokemon.name}}</h2>
      </div>
    </div>

    <div class="content">
    <h3>Decription: {{pokemon.description}}</h3>
    <h3>Abilities: {{pokemon.ability}}</h3>
    <h3>Original Game: {{pokemon.game}}</h3>
    </div>
  </div>
</div>
</div>

  {{/each}}
  {{else}}
  <h3>Search for a pokemon to add to your favorites!</h3>
  {{/if}}

</section>

<script src="/js/delete-favorite.js"></script>
