<section class="favorite-Pokemon">
  {{#if friend_username}}
    <h1>{{friend_username}}'s Favorite Pokemon</h1>
  {{/if}}

  {{#if favoritePokemon.length}}

  {{#each favoritePokemon as |pokemon| }}
  <div>
    <h2>{{pokemon.name}}</h2>

    <img id="pokemon-image" src={{pokemon.image}} alt={{pokemon.name}}>

    <h3>Decription: {{pokemon.description}}</h3>
    <h3>Abilities: {{pokemon.ability}}</h3>
    <h3>Original Game: {{pokemon.game}}</h3>

    <button class="delete-from-favorites" pokemon-name={{pokemon.name}}>Delete from favorites</button>

  </div>
  {{/each}}
  {{else}}
  <h3>Search for a pokemon to add to your favorites!</h3>
  {{/if}}

</section>

<script src="/js/delete-favorite.js"></script>
