{{#if pokemon.found}}
<h2>{{pokemon.name}}</h2>

<img id="pokemon-image" src={{pokemon.image}} alt={{pokemon.name}}>

<h3>Decription: {{pokemon.description}}</h3>
<h3>Abilities: {{pokemon.ability}}</h3>
<h3>Original Game: {{pokemon.game}}</h3>

<button id="add-to-favorites">Add to favorites</button>
{{else}}
<h3>Couldn't find anything :(</h3>
{{/if}}

<script src="/js/add-favorite.js"></script>